
<!DOCTYPE html>
<html lang="ja">
<head>
  <title>書籍データベース</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="<$MTStaticWebPath$>data-api/v3/js/mt-data-api.js"></script>
</head>

<body>


  <h2>書籍データベース</h2>

  <%= form_for @book, :url => {:action => 'create'} do |f| %>

    <div class="field">
      <%= f.text_area  :ISBN, placeholder: "ISBNを入力！！" %>
    </div>
    <%= f.submit "登録", class: "btn btn-primary" %>
  
  <% end %>


<% @books.each do |book| %>
      
  <div class="table-responsive">
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
            <th>ID</th>
            <th>本のタイトル</th>
            <th>著者</th>
            <th>ISBN</th>
            <th>詳細</th>
        </tr>
      </thead>
      <tbody>
        <tr class="tableIndex__row" book_id="<%= book.id %>">
          <td ><%= book.id %></td>
          <td><%= book.title %></td>
          <td><%= book.authors %></td>
          <td><%= book.ISBN %></td>
          <td>
            <%= link_to "詳細", book, class: "index__btn" %>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

<% end %>
</body>

</html>