<div>
<h2>メモ一覧</h2>
</div>

<div class="book-container">
  <div class="image-block">
    <%= image_tag @result['items'][0]["volumeInfo"]["imageLinks"]['smallThumbnail'], class: "book__image" %>
  </div>
  <div class="info-block">
    <ul style="list-style-type: none">
      <li class="font-weight-bold"><%= @result['items'][0]["volumeInfo"]['title'] %></li>
      <li class=""><span class="font-weight-bold"><% book_authors = @result['items'][0]["volumeInfo"]['authors'].to_s %><%= book_authors[2..-3] %></span></li>
      <li><%= @result['items'][0]["volumeInfo"]['publishDate'] %></li>
      <li><%= @result['items'][0]["volumeInfo"]['description'] %></li>
    </ul>
  </div>
</div>


<div class="box-container color-white b-radius">
  <div class="memo-box">
  <h2>My Note</h2>
    <% @memos.each do |memo| %>
        <div class="a-memo" memo_id="<%= memo.id %>">
          <p><%= markdown(memo.content) %></p>
        </div>
        <%= link_to "削除", memo, controller: :memos, method: :delete,
                                     data: { confirm: "You sure?" } %>
        <%= link_to "編集" %>
    <% end %>
  </div>
    <section class="memo_form">
      <%= render 'memos/memo_form' %>
    </section>

</div>