<div class="container__form">
  <div class="header">
    <div class="header__top">
      <h1 class="header__title"><%= @book.id %></h1>
    </div>
  </div>

  <section class="micropost_form">
    <%= render 'memos/memo_form' %>
  </section>


  <% @memos.each do |memo| %>
      <div class="tableIndex__row" memo_id="<%= memo.id %>">
        <h2><%= memo.heading %></h2>
        <p><%= memo.content %></p>
      </div>
  <% end %>

</div>