<div>
<h2>メモ一覧</h2>
</div>

<div class="book-container">
  <div class="image-block">
    <%= image_tag @result['items'][0]["volumeInfo"]["imageLinks"]['smallThumbnail'], class: "nav__logo" %>
  </div>
  <div class="info-block">
    <%= @result['items'][0]["volumeInfo"]['title'] %><br>
    <%= @result['items'][0]["volumeInfo"]['authors'] %><br>
    <%= @result['items'][0]["volumeInfo"]['publishDate'] %><br>
    <%= @result['items'][0]["volumeInfo"]['description'] %>
  </div>
</div>


<div>
  <% @memos.each do |memo| %>
      <div class="tableIndex__row" memo_id="<%= memo.id %>">
        <p><%= markdown(memo.content) %></p>
      </div>
  <% end %>

    <section class="memo_form">
      <%= render 'memos/memo_form' %>
    </section>

</div>